# Ignore the local virtual environment folder
myenv/
venv/
ENV/

# Ignore macOS hidden system files
.DS_Store
.AppleDouble
.LSOverride

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore local audio if the user wants to use their own
# alarm.mp3
